# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp

# Ignore a couple of files created by RubyMine
.idea/workspace.xml
.idea/tasks.xml

# Ignore byebug history
.byebug_history
