<p id="notice"><%= notice %></p>

<h1>Listing Breweries</h1>

<ul>
  <% @breweries.each do |brewery| %>
      <li><%= link_to brewery.name, brewery %></li>
  <% end %>
</ul><br>

<% if admin %>
    <%= link_to (t :New_brewery), new_brewery_path, class:'btn btn-default' %>
<% end %>
