<p id="notice"><%= notice %></p>

<h1><%= t :Restaurants %></h1>



<ul>
  <% @restaurants.each do |restaurant| %>
      <li><%= link_to restaurant.name, restaurant %></li>
  <% end %>
</ul><br>

<% if can? :create, Restaurant %>
  <%= link_to (t :New_restaurant), new_restaurant_path, class:'btn btn-default' %>
<% end %>