<p id="notice"><%= notice %></p>

<h1><%= t :Municipalities %></h1>

<div ng-controller="MunicipalitiesController">

  <%= t :Search %>: <input ng-model="query">

  <ul class="list-group">
    <li ng-repeat="municipality in municipalities | filter:query" class="list-group-item">
      <a ng-href="{{municipality.url}}" class="btn btn-primary btn-sm">{{municipality.name}}</a>
    </li>
  </ul>

</div>

<% if can? :create, Municipality %>
    <%= link_to (t :'New_Municipality'), new_municipality_path, class:'btn btn-default' %>
<% end %>