<p id="notice"><%= notice %></p>

<h1>Listing Municipalities</h1>

<ul>
  <% @municipalities.each do |municipality| %>
    <li><%= link_to municipality.name, municipality %></li>
  <% end %>
</ul><br>

<%= link_to (t :'New_Municipality'), new_municipality_path %>