// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral

main {
  background-color: #eee;
  padding-bottom: 80px;
  margin-top: 80px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }

#central-area {
  width: 70%;
  background-color: #73E863;

  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;

  padding-bottom: 20px;
  padding-left: 15px;
  padding-top: 10px;
}






