<p id="notice"><%= notice %></p>

<h1><%= t :Regions %></h1>

<ul>
  <% @regions.each do |region| %>
      <li><%= link_to region.name, region %></li>
  <% end %>
</ul>

<% if can? :create, Region %>
    <%= link_to (t :new_region), new_region_path, class:'btn btn-default' %>
<% end %>
