<p id="notice"><%= notice %></p>

<h1><%= t :Restaurants %></h1>

<ul>
  <% @restaurants.each do |restaurant| %>
      <li><%= link_to restaurant.name, restaurant %></li>
  <% end %>
</ul><br>

<br>

<% if can? :create, Place %>
  <%= link_to (t :New_place), new_place_path %>
<% end %>